/*******************************************************************************************
/*GENERAL
*******************************************************************************************/
#header{
	position: relative;
	display: inline-block;
	float:left;
	width: 100%;
	height: 15%;
	border-bottom: 1px solid #F0CA4D;
}

#headerlogo{
	position: relative;
	width: 10%;
	height: 15%;
	float: left;
}

#headerlogo img{
	position: relative;
	width: 35%;
	height: 10%;
	margin-left: 4%;
	margin-top: 10%;
}

#headerlogo a img:hover{
	margin-top: 5%;
}

#headercentro{
	position: relative;
	display: inline-block;
	text-align: right;
	width: 50%;
	height: 10%;
	float: left;
}	

h1.headernombre{
	color: #324D5C;
	font-size: 150%;
	font-family: 'Mukta Mahee', sans-serif;
}

#headercentro a{
	text-decoration: none;
}

#headercentro h1:hover{
	color: #D6293D;
}

#headerderecha{
	position: relative;
	display: inline-block;
	width: 40%;
	height: 10%;
}

#headerderecha a img:hover{
	margin-top: 1%;
}

#facebook{
	width: 6%;
	height: 10%;
	margin-top: 4%;
	margin-left: 60%;
	float: left;
}

#instagram{
	width: 6%;
	height: 10%;
	margin-top: 4%;
	margin-left: 4%;
	float: left;
}

#twitter{
	width: 6%;
	height: 10%;
	margin-top: 4%;
	margin-left: 4%;
	float: left;
}

#login{
	width: 6%;
	height: 10%;
	margin-top: 4%;
	margin-left: 4%;
	float: left;
}

#menu{
	position: relative;
	display: inline-block;
	float:left;
	width: 100%;
	height: 10%;
}

nav {
	position: relative;
	display: block;
	float:left;
	width: 100%;
	height: 10%;
}

nav ul{
	list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    /*background-color: #114358;*/
	
}

li.menuItem{
	float: left;
	font-size: 150%;
	text-align: center;
	margin: 0%;
    padding: 10px;
    width: 18%;
	height: 10%;
    color: #114358;
    /*background-color: #EBDDC2;*/
}

li.menuItem:hover{
	cursor: pointer;
	background: #FAD49A;
	border-radius: 2px;
}

ul.submenu{
	display: none;
	position:absolute;
	list-style:none;
	margin:0px;
	padding:0;
	background: #FBDCAC;
	z-index: 20;
	width: 18%;


}

li.menuItem:hover > ul{
	display: block;
}

li.submenuItem{
	font-size: 70%;
	white-space: nowrap;
}

li.submenuItem:hover{
	background: #FCE8CA;
}

li a{
	color: #193441;
	font-size: 150%;
	font-family: 'Mukta Mahee', sans-serif;
	text-decoration: none;
}

li a:hover {
	color: #D6293D;
}

#cuerpo p{ 
	margin-left: 10%;
	color: #324D5C;
	font-size: 150%;
	font-family: 'Mukta Mahee', sans-serif;
	display: inline;
}

.botonformulario {
    width: 25%;
    background-color: #324D5C;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
	margin-left: 37%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	display: inline;
}

.botonformulario:hover {
    background-color: #465B67;
}

fieldset{
	margin: auto;
    width: 40%;
    border: 3px solid #F0CA4D;
    padding: 10px;
	border-radius: 5px;
	text-align: left;
	background-color: #FFFFFF;
	font-family: 'Mukta Mahee', sans-serif;

}



#footer{
	position: relative;
	display: inline-block;
	float:left;
	width: 100%;
	height: 15%;
	border-top: 1px solid #F0CA4D;
	margin-top: 5%;
}

/* Mensajes alerta */
.alertOK{
	position: absolute;
	width: 300px;

 	top: 150px; 
 	left: 50%;
 	z-index: 50;
 	transform: translate(-50%, -50%);
	color:#fff;
	background-color:#4CAF50;
	font-size: 20px;
	padding: 10px;
	border-radius:16px;
	box-shadow: 4px 4px 10px #999;
}

.alertERROR{
	position: absolute;
	width: 300px;
	
 	top: 150px; 
 	left: 50%;
 	z-index: 50;
	transform: translate(-50%, -50%);
	color:#fff;
	background-color:#ff5050;
	font-size: 20px;
	padding: 10px;
	border-radius:16px;
	box-shadow: 4px 4px 10px #999;
}

.formulariopedido{
	float:left;
	width: 50%;
}

.formulariopedido fieldset{
	width: 90%;
}

.transparencia{
	position: absolute;
	background-color:#FAFAFA;
	opacity: 0.7;
	overflow: auto;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 5;
}

.datosenvio{
	position: absolute;
	width: 60%;
 	top: 150px; 
 	left: 50%;
  	transform: translate(-50%, 0%);
	background-color:#FFFFFF;
	font-size: 20px;
	padding: 10px;
	border-radius:5px;
	box-shadow: 4px 4px 10px #999;
	z-index: 10;	
	text-align: center;
}

#datosenvio .formulariopedido{
	width: 100%;
}

#datosenvio .formulariopedido fieldset{
	width: 70%;
}

.cierraModal{
	float: right;
	padding: 2px 5px 2px 5px;
	border: 1px;
	cursor: pointer;
	margin: -3px -3px 0px 5px;
}

table,th,td,tr.productos{
	border: 2px solid #F0CA4D;
	margin: 5px;
	padding: 5px;
	border-collapse: collapse;
	background-color: #FFFFFF;
}

/* Para tablets: */
@media only screen and (max-width: 1025px) {
	li.menuItem{
	font-size: 125%;
	padding: 0px;	
	}
	fieldset{
    width: 80%;
	}
}


/*font-family: 'Mukta Mahee', sans-serif;*/

input[type="number"]{
	width: 40px;
}

.icon{
	height:20px;
	cursor: pointer;
}

.arrows{
	float:right;
	margin:10px;
}

.pedido{
	background-color:#F0CA4D;
	border-radius:5px;
	text-align:left;
	font-weight:bold;
	font-size:18px;
	padding-top:5px;
	padding-bottom:5px;
}

.pedido_general{
	margin:20px;
	width:500px;
	display:inline-block;
	padding-left:20px;
	font-family:verdana;
}

.pedido_detalles{
	background-color:#F0CA4D;
	border-radius:5px;
	font-size:16px;
}

.lineas_pedido{
	border-collapse:collapse;
}

.lineas_pedido .toprow tr:hover{
	background-color:none;
}


.lineas_pedido tr:hover {
	background-color:#fafa50
}

.lineas_pedido td, th{
	padding: 5px 10px 5px;
	text-align:center;
	border-bottom: 1px solid #002699;
}

.lineas_pedido th {
	border-bottom-width:2px;
}